# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Streamlit
.streamlit/

# Dados gerados (evitar subir arquivos grandes de teste)
*.csv
*.xlsx

# IDEs
.vscode/
.idea/

## 🤝 Iniciar o servidor 
cd c:\Users\Mauro\Documents\csv
python -m streamlit run app.py